body {
    background-color: #2b2929;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: garamond;
    font-size: 95px;
    font-weight: 100;
    color: #d4b500;
    text-align: center;
}

h2 {
    font-family: garamond;
    font-size: 95px;
    font-weight: 400;
    color: #a3d615;
    text-align: center;
}

p {
    font-family: tahoma;
    font-size: 70px;
    font-weight: 200;
    color: #5dddcc;
    text-align: center;
}

a{
    color: inherit;
    text-decoration: none;
    transition-property: color, font-size;
    transition-duration: 0.5s;
}

a:hover {
    color: #a5dbd4;
    font-size: 100px;
}

div.header {
    position: fixed;
    top: 10vh;
    left: 0;
    z-index: 2;
    width: 100%;
    background-color: transparent;
    height: 0px;
    margin-right: auto;
    margin-left: auto;
    transition-property: height background-color box-shadow;
    transition-duration: 1s;
    overflow: hidden;
}

div.header.opened {
    height: 30vh;
    background-color: #2b2929;
    box-shadow: 0 1vh 10px 40px #2b2929;
}

button {
    background-color: #2b2929;
    box-shadow: 0 0  10px 50px #2b2929;
    position: fixed;
    width: 100%;
    top: 0;
    border: none;
}

div.content {
    z-index: 1;
    margin: 20vh auto 30px auto;
    width: 90%;
    background-color: #464242;
    border-radius: 10%;
    animation-name: fadin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    padding: 10px;
}

div.footer {
    font-size: 30px;
    font-weight: 10;
    font-family: monospace;
    text-align: center;
    color: #ffffff;
    opacity: 0.6;
    z-index: -1;
    width: 100%;
    margin-bottom: 10px;
    margin-right: auto;
    margin-left: auto;
    word-wrap: break-word;
}

div.introbox {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    opacity: 1.0;
    visibility: visible;
    background-color: #2b2929;
    transition-property: background-color opacity;
    transition-duration: 1s;
}

div.introbox.cleared {
    visibility: hidden;
    background: transparent;
    opacity: 0.0;
}

table {
    width: 100%;
    table-layout: fixed;
    word-wrap: break-word;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

img.footer {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

@keyframes fadin {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}