body {
    background-color: #2b2929;
    margin: 0px;
    padding: 0px;
}

h1 {
    font-family: garamond;
    font-size: 70px;
    font-weight: 100;
    color: #d4b500;
    text-align: center;
    word-wrap: break-word;
}

h2 {
    font-family: garamond;
    font-size: 65px;
    font-weight: 400;
    color: #a3d615;
    text-align: center;
    word-wrap: break-word;
}

p {
    font-family: tahoma;
    font-size: 40px;
    font-weight: 200;
    color: #5dddcc;
    text-align: center;
    word-wrap: break-word;
}

a{
    color: inherit;
    text-decoration: none;
    transition-property: color, font-size;
    transition-duration: 0.5s;
}

a:hover {
    color: #a5dbd4;
    font-size: 70px;
}

button {
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

button.menu {
    position: fixed;
    z-index: 3;
    left: 0;
    top: 0;
}

div.header {
    overflow: hidden;
    width: 0%;
    z-index: 2;
    box-shadow: none;
    background-color: transparent;
    opacity: 0.0;
    transition-property: width background-color box-shadow opacity;
    transition-duration: 0.75s;
}

div.header.init {
    position: fixed;
    top: 0;
    left: 0;
}

div.header.open {
    width: 100%;
    box-shadow: 0 0  10px 50px #2b2929;
    background-color: #2b2929;
    opacity: 0.975;
}

div.content {
    z-index: 1;
    margin: 200px auto 30px auto; 
    width: 75%;
    background-color: #464242;
    border-radius: 100px;
    animation-name: fadin;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    padding: 10px;
    overflow: hidden;
}

div.footer {
    font-size: 20px;
    font-weight: 10;
    font-family: monospace;
    text-align: center;
    color: #ffffff;
    opacity: 0.6;
    z-index: -1;
    width: 100%;
    margin-bottom: 10px;
    word-wrap: break-word;
}

div.introbox {
    position: fixed;
    z-index: 10;
    width: 100vw;
    height: 100vh;
    opacity: 1.0;
    visibility: visible;
    background-color: #2b2929;
    transition-property: background-color opacity;
    transition-duration: 1s;
}

div.introbox.cleared {
    opacity: 0.0;
    visibility: hidden;
    background-color: transparent;
}

table {
    width: 100%;
}

img.background {
    width: 100%;
    z-index: 0;
    position: relative;
}

img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    max-width: 100%;
}

img.footer {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    object-fit: cover;
}

img.small {
    height: 70px;
}

@keyframes fadin {
    from {
        opacity: 0.0;
    }
    to {
        opacity: 1.0;
    }
}